@import url('./styles/navigation.css');
@import url('./styles/mobile.css');

:root {
  --primary: #630f8e;
  --secondary: #fd3e81;
  --tertiary: #36f2aa;
  --background: #1e1921;
  --alt-backround: #2b272d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}

body {
  background: var(--background);
  min-width: 100vw;
  min-height: 100vh;
}
.menu {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}
.category-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.no-task {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  text-align: center;
}
.title {
  font-size: 5rem;
  font-weight: 900;
  color: white;
}

.header {
  padding-top: 10rem;
}
.new-todo-form {
  display: flex;
  flex-wrap: wrap;
  align-items: self-end;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;

  input[type='text'] {
    min-width: 400px;
    border: none;
    outline: none;
    color: white;
    background: transparent;
    border-bottom: var(--tertiary) 2px solid;
    line-height: 1.3;
    padding: 1rem 0;
    height: 1rem;
  }
  input[type='text']::placeholder {
    font-style: italic;
    font-size: 1rem;
  }

  button {
    background: var(--tertiary);
    color: var(--background);
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
  }
  button:hover {
    background: var(--secondary);
    color: white;
  }

  select {
    background: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: var(--tertiary) 2px solid;
    padding: 0.5rem;
    font-size: 1rem;
    option {
      background: var(--background);
      color: white;
    }
  }
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  position: relative;
  min-width: 400px;
  max-width: 700px;
  margin: 0 auto;
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--alt-backround);
    min-width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    .buttons {
      display: flex;
      gap: 2rem;
    }
    p {
      font-weight: 800;
      font-size: 1rem;
    }
    .checkmark {
      background-color: var(--tertiary);
      border-radius: 0.3rem;
      width: 2rem;
      height: 2rem;
      inset: 0;
      fill: var(--background);
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        fill: var(--background) !important;
      }
    }
    .checkmark:hover {
      background-color: var(--secondary);

      svg {
        fill: white !important;
      }
    }
    .delete-button {
      border: 2px var(--tertiary) solid;
      border-radius: 0.3rem;
      background-color: transparent;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: var(--tertiary) !important;
      }
    }
    .delete-button:hover {
      border: 2px var(--secondary) solid;
      svg {
        fill: var(--secondary) !important;
      }
    }
  }
}

.toast {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%));
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--alt-backround);
  width: 80%;
  color: white;
  height: 4rem;
  border-radius: 0.3rem;
  font-weight: 700;
  font-size: 1.2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
